/*******************************
* Author: Dallas Bleak
* Created: 09/28/2017
********************************/

/*******************************
 * WHOLE PAGE
*******************************/
html {
  min-height: 100%;
  background-color: #264992;
}

body {
  font-size: 16px;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif; 
}

h1 {
  color: #000; 
}

#patch img {
  float: left;
  width: 7%;
  height: auto;
}

/*******************************
 * NAVIGATION
*******************************/
#nav img {
  float: left;
  width: 7%;
  height: auto;
  padding: 0 0 10px 0;
}

#nav {
  margin: 0;
  height: 90px;
  padding: 0 20px;
}

#nav a {
  color: #000000;
  text-decoration: none
}

#nav a:visited{
  color: #000000;
  text-decoration: none
}

#nav h1 {
  float: left;
  font-family: Impact, Charcoal, sans-serif;
  padding: 0 20px;
}

#nav_wrapper ul {
  clear: both;	
  border-radius: 8px;
  background-color: #5c5c5c;
  font-family: "Arial Black", Gadget, sans-serif;
  list-style-type: none;
  margin: 10px;
  overflow: auto;
  
}

#nav_wrapper li {
  float: left;
  padding: 10px 20px;
}

#nav_wrapper li a {
  display: inline-block;
}

#nav_wrapper ul li:hover {
  color: #000000;
}

#nav_wrapper ul li a:link {
  color: white; 
  text-decoration: none;
}

#nav_wrapper ul li a:visited  {
  color: white; 
  text-decoration: none;
}

#nav_wrapper ul li a:hover  {
  color:  #fff; 
  text-decoration: underline;
}


/*******************************
 * IMAGES
*******************************/
img {
  width: 50%;
  height: auto;
}

/*******************************
 * ERROR MESSAGES
*******************************/
.invalidMessage {
  color: red;
  font-weight: bold;
}


/*******************************
 * SECTIONS
*******************************/
#content {
  overflow: auto;
  width: 80%;
  background-color: #fff;
  margin: 30px auto 0 auto;
  padding: 20px 30px;
  border-radius: 8px;
}

/*******************************
 * Table
*******************************/
table {
    border: 1px solid #000000;
    border-collapse: collapse;
    margin-bottom: 1em;
}
td, th {
    border: 1px dashed #000000;
    padding: .2em .5em .2em .5em;
    text-align: center;
}
.table_settings tr th {
    color: #000000;
    font-size:1.12em;
}
table.table_settings tr rd {
    color: #000000;
    font-size:0.90em;
}

/*******************************
 * BUTONS
*******************************/
#cart_btn {
  background-color: #015958;
  color: #FFF;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
}

#cancel_btn {
  background-color: red;
  color: #FFF;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
}

/*******************************
 * FOOTER
*******************************/
footer {
  border-radius: 8px;
  background-color: #5c5c5c;
  height: 40px;
}

#footer_none:hover{
  color: white;
  text-decoration: none;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  color: black;
  padding: 10px 10px 5px 10px;
}

footer ul li a {
  color: white;
}

footer ul li a:link {
  color: white; 
  text-decoration: none;
}

footer ul li a:hover  {
  color:  #fff; 
  text-decoration: underline;
}
